<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            <h6>{{comment_text}}</h6>
        </div>
        <div class="text font-weight-bold mb-3">
            
            By {{user.username}} on {{format_date created_at}}
        </div>
    </section>
    {{/each}}
</div>